---
import Layout from "../layout/Layout.astro";
const skills = ["HTML", "CSS", "JavaScript", "Vue3", "Astro", "Writing Docs"];
---

<style>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: green;
    font-weight: bold;
  }
</style>
<Layout pageTitle="About">
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</Layout>
