---
import Layout from "../layout/Layout.astro";
const allPosts = Object.values(import.meta.glob("./posts/*.md", {eager: true}));
const title = "博客title";
---

<Layout pageTitle={title}>
  <ul>
    <li><a href="/posts/astro">astro.md</a></li>
    <li><a href="/posts/base64">base64.md</a></li>

    {
      allPosts.map((post: any) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
